{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error }}</div>
{% endif %}
<div class="block block_type_login">
    <div class="block__head">
        Вход
    </div>

    <div class="block__content">
        <form class="fos_user_security_login"action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form_row">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>

            <div class="form_row">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="_password" />
            </div>

            <div class="form_row">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Запомнить меня</label>
            </div>
            
            <a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>
            <input type="submit" id="_submit" name="_submit" value="Войти" />
        </form>
    </div>
</div>
{% endblock fos_user_content %}