{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="block block_type_login">
    <div class="block__head">
        Вход
    </div>

    <div class="block__content">
        {% if error %}
        <div class="block__content__errors">{{ error }}</div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal fos_user_security_login">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="control-group">
                <label class="control-label required" for="username">Логин:</label>
                <div class="controls">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    <span class="help-inline"></span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label required" for="password">Пароль:</label>
                <div class="controls">
                    <input type="password" id="password" name="_password" />
                    <span class="help-inline"></span>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        Запомнить меня
                    </label>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>
                </div>
            </div>


            
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
    </div>
</div>
{% endblock fos_user_content %}