{% from 'RootyTorrentBundle:Torrent:show.html.twig' import torrent__description__row as torrent__description__row %}

{{ torrent__description__row('Жанр:', entity.genre) }}

{# @todo Output the rest fields through the macro #}

<div class="torrent__description__row">
    <span class="torrent__description__row__key">Жанр:</span>
    <span class="torrent__description__row__value">{{ entity.genre }}</span>
</div>

<div class="torrent__description__row">
    <span class="torrent__description__row__key">Разработчик:</span>
    <span class="torrent__description__row__value">{{ entity.developer }}</span>
</div>

<div class="torrent__description__row">
    <span class="torrent__description__row__key">Издатель:</span>
    <span class="torrent__description__row__value">{{ entity.publisher }}</span>
</div>

<div class="torrent__description__row">
    <span class="torrent__description__row__key">Описание:</span>
    <span class="torrent__description__row__value">{{ entity.torrent.description }}</span>
</div>

<div class="torrent__description__row">
    <span class="torrent__description__row__key">Системные требования:</span>
    <span class="torrent__description__row__value">{{ entity.systemRequirements }}</span>
</div>

<div class="torrent__description__row">
    <span class="torrent__description__row__key">Ссылка на крэк:</span>
    <span class="torrent__description__row__value">{{ entity.crackUrl }}</span>
</div>

<div class="torrent__description__row">
    <span class="torrent__description__row__key">Запуск:</span>
    <span class="torrent__description__row__value">{{ entity.howToRun }}</span>
</div>