{% extends '::base.html.twig' %}

{% form_theme edit_form 'RootyUserBundle:Form:fields.html.twig' %}

{% block content %}
<div class="block">
    <div class="block__head">
        Редактирование раздачи
    </div>

    <div class="block__content">
        <div class="block__content__errors">{{ form_errors(edit_form) }}</div>
        <form action="{{ path('torrent_update', { 'id': entity.torrent.id }) }}" {{ form_enctype(edit_form) }} method="POST" class="torrent_new">
            <table class="form_holder">
                {{ form_row(edit_form.title, { 'label': 'Название:' }) }}
                {{ form_row(edit_form.title_original, { 'label': 'Оригинальное название:' }) }}
                <tr>
                    <td>Торрент-файл:</td>
                    <td>
                        <div class="file_update">
                            <a class="update_file ajaxLink" href="#">обновить файл</a>
                        </div>

                        <div class="file_input">
                            {{ form_widget(edit_form.torrent_file) }}
                            <a class="update_file_undo ajaxLink" href="#">отменить обновление</a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Постер:</td>
                    <td>
                        <div class="file_update">
                            <a class="update_file ajaxLink" href="#">обновить файл</a>
                        </div>

                        <div class="file_input">
                            {{ form_widget(edit_form.poster_file) }}
                            <a class="update_file_undo ajaxLink" href="#">отменить обновление</a>
                        </div>
                    </td>
                </tr>
                
                {% include "RootyTorrentBundle:Torrent:game_form.html.twig" %}

                {% form_theme edit_form 'RootyUserBundle:Form:screenshots.html.twig' %}
                <tr>
                    <td>Скрины:</td>
                    <td>
                        <div id="rooty_torrentbundle_torrentformtype_screenshots" data-prototype="{{ form_widget(edit_form.screenshots.get('prototype'))|e }}">
                        {% for screenshot in edit_form.screenshots %}
                            <div>
                                <div>
                                    <label>Название:</label>
                                    {{ form_errors(screenshot.title) }}
                                    {{ form_widget(screenshot.title) }}
                                </div>

                                <div class="screenshot_file">
                                    <label>Файл:</label>
                                    {{ form_errors(screenshot.screenshot_file) }}
                                    {{ form_widget(screenshot.screenshot_file) }}
                                </div>
                                <a class="remove_screenshot" href="#">удалить</a>
                            </div>
                        {% endfor %}
                        </div>
                    </td>
                </tr>

                {{ form_rest(edit_form) }}
            </table>

            <div>
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>
{% endblock %}