{% extends '::base.html.twig' %}

{% form_theme form 'RootyDefaultBundle:Form:fields_bootstrap.html.twig' %}

{% block content %}
<div class="block">
    <div class="block__head">
        Редактирование раздачи
    </div>

    <div class="block__content">
        {% if errors|length > 0 %}
            <div class="block__content__errors">{{ form_errors(form) }}</div>
        {% endif %}

        <form action="{{ path('torrent_update', { 'id': entity.torrent.id }) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal torrent_new">
            {{ form_row(form.torrent.title, { 'label': 'Название:' }) }}
            {{ form_row(form.torrent.title_original, { 'label': 'Оригинальное название:' }) }}

            <div class="control-group">
                <label class="control-label required" for="rooty_torrentbundle_typeformtype_torrent_torrent_file">Торрент-файл:</label>
                <div class="controls">
                    <div class="file_update">
                        <a class="update_file ajaxLink" href="#">обновить файл</a>
                    </div>
                    <div class="file_input">
                        {{ form_widget(form.torrent.torrent_file) }}
                        <span class="help-inline"></span>
                        <a class="update_file_undo ajaxLink" href="#">отменить обновление</a>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label required" for="rooty_torrentbundle_typeformtype_torrent_poster_file">Постер:</label>
                <div class="controls">
                    <div class="file_update">
                        <a class="update_file ajaxLink" href="#">обновить файл</a>
                    </div>
                    <div class="file_input">
                        {{ form_widget(form.torrent.poster_file) }}
                        <span class="help-inline"></span>
                        <a class="update_file_undo ajaxLink" href="#">отменить обновление</a>
                    </div>
                </div>
            </div>

            {{ form_row(form.torrent.year, { 'label': 'Год:' }) }}
                
            {% if entity.torrent.type.slug == 'games' %}
                {% include "RootyTorrentBundle:Torrent:game_form.html.twig" %}
            {% elseif entity.torrent.type.slug == 'movies' %}
                {% include "RootyTorrentBundle:Torrent:movie_form_edit.html.twig" %}
            {% endif %}

            {% form_theme form 'RootyUserBundle:Form:screenshots.html.twig' %}
            <div class="control-group">
                <label class="control-label required">Скриншоты:</label>
                <div class="controls">
                    <div id="rooty_torrentbundle_typeformtype_torrent_screenshots" data-prototype="{{ form_widget(form.torrent.screenshots.get('prototype'))|e }}">
                    {% for screenshot in form.torrent.screenshots %}
                        <div>
                            <div>
                                <label>Название:</label>
                                {{ form_errors(screenshot.title) }}
                                {{ form_widget(screenshot.title) }}
                            </div>

                            {# <div class="screenshot_file">
                                <label>Файл:</label>
                                {{ form_errors(screenshot.screenshot_file) }}
                                {{ form_widget(screenshot.screenshot_file) }}
                            </div> #}
                            <a class="remove_screenshot" href="#">удалить</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

            {{ form_widget(form.type) }}
            {{ form_widget(form._token) }}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Загрузить</button>
                <button type="reset" class="btn">Сброс</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
