{% extends '::base.html.twig' %}

{% block content %}
    {{ order_by }}
    {{ order_direction }}
    <div class="search tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#basic" data-toggle="tab">Поиск</a></li>
            <li><a href="#advanced" data-toggle="tab">Расширенный поиск</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="basic">
                <form action="{{ path('torrents') }}#tab#basic" method="GET" class="well form-search torrent_search">
                        {{ form_widget(filter_form.title) }}
                        {{ form_widget(filter_form.status) }}
                        {{ form_widget(filter_form.order_by) }}
                        {{ form_widget(filter_form.order_direction) }}
                        <input type="hidden" name="type" value="basic" />
                        <button type="submit" class="btn btn-primary">Искать</button>
                        <button type="reset" class="btn">Сброс</button>
                    
                </form>
            </div>
            <div class="tab-pane" id="advanced">
                <form action="{{ path('torrents') }}#tab#advanced" method="GET" class="form-horizontal torrent_search advanced_search">
                    <div class="clearfix">
                        <div class="control-group">
                            <label class="control-label" for="input01">Название:</label>

                            <div class="controls">
                                {{ form_widget(advanced_filter_form.title) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="input01">Статус:</label>

                            <div class="controls">
                                {{ form_widget(advanced_filter_form.status) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="input01">Размер:</label>

                            <div class="controls">
                                <div style="display: none">
                                    {{ form_widget(advanced_filter_form.size_min) }}
                                    {{ form_widget(advanced_filter_form.size_max) }}
                                </div>
                                <div id="size_slider" class="input-xlarge"></div>
                                <p class="help-block">От <span id="size_from"></span> до <span id="size_to"></span></p>
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label" for="input01">Категория:</label>

                            <div class="controls">
                                {{ form_widget(advanced_filter_form.type) }}
                            </div>
                        </div>

                        <div id="advanced_search__game_fields" class="advanced_search__type_fields">
                            <div class="control-group">
                                <label class="control-label" for="input01">Год выхода:</label>

                                <div class="controls">
                                    {{ form_widget(advanced_filter_form.year) }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="input01">Жанр:</label>

                                <div class="controls">
                                    {{ form_widget(advanced_filter_form.genre) }}
                                </div>
                            </div>
                        </div>

                        <div id="advanced_search__movie_fields" class="advanced_search__type_fields">
                            <div class="control-group">
                                <label class="control-label" for="input01">Режиссёр:</label>

                                <div class="controls">
                                    {{ form_widget(advanced_filter_form.director) }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="input01">Минимальное качество:</label>

                                <div class="controls">
                                    {{ form_widget(advanced_filter_form.min_quality) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Искать</button>
                        <button type="reset" class="btn">Сброс</button>
                    </div>
                    {{ form_widget(advanced_filter_form.order_by) }}
                    {{ form_widget(advanced_filter_form.order_direction) }}
                    {{ form_widget(advanced_filter_form._token) }}
                </form>
            </div>
        </div>
    </div>

    <table class="search_result table table-striped table-bordered">
        <tr>
            <th>Тип</th>
            <th>
                <a class="search_order" id="t.title" href="#">Название
                    {% if order_by == 't.title' %}
                        {% if order_direction == 'ASC' %}
                            <i class="icon-chevron-up"></i>
                        {% elseif order_direction == 'DESC' %}
                            <i class="icon-chevron-down"></i>
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>Скачать</th>
            <th>
                <a class="search_order" id="t.size" href="#">Размер
                    {% if order_by == 't.size' %}
                        {% if order_direction == 'ASC' %}
                            <i class="icon-chevron-up"></i>
                        {% elseif order_direction == 'DESC' %}
                            <i class="icon-chevron-down"></i>
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>
                <a class="search_order" id="seeders" href="#">Сидеров
                    {% if order_by == 'seeders' %}
                        {% if order_direction == 'ASC' %}
                            <i class="icon-chevron-up"></i>
                        {% elseif order_direction == 'DESC' %}
                            <i class="icon-chevron-down"></i>
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>
                <a class="search_order" id="leechers" href="#">Личеров
                    {% if order_by == 'leechers' %}
                        {% if order_direction == 'ASC' %}
                            <i class="icon-chevron-up"></i>
                        {% elseif order_direction == 'DESC' %}
                            <i class="icon-chevron-down"></i>
                        {% endif %}
                    {% endif %}
                </a>
            </th>
            <th>Добавил</th>
        </tr>
    {% for torrent in entities %}
        <tr>
            <td>Тип</td>

            <td>
                <a href="{{ path('torrent_show', {'id': torrent['id']}) }}">{{ torrent['title'] }} / {{ torrent['title_original'] }}</a>
                <a href="{{ path('torrent_edit', {'id': torrent['id']}) }}" title="Редактировать"><i class="icon-pencil"></i></a>
            </td>
            <td><a href="{{ path('torrent_download', {'id': torrent['id']}) }}"><i class="icon-download-alt"></i></a></td>
            <td>{{ torrent['size']|filesize }}</td>
            <td>{{ torrent['seeders'] }}</td>
            <td>{{ torrent['leechers'] }}</td>
            <td><a href="#">{{ torrent['user'] | userlink | raw }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}