{% extends '::base.html.twig' %}

{% form_theme form 'RootyDefaultBundle:Form:fields_bootstrap.html.twig' %}

{% block content %}
<div class="block">
    <div class="block__head">
        Добавление раздачи
    </div>

    <div class="block__content">
        {% if errors|length > 0 %}
            <div class="block__content__errors">{{ form_errors(form) }}</div>
        {% endif %}

        <form action="{{ path('torrent_create') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal torrent_new">
            {{ form_row(form.torrent.title, { 'label': 'Название:' }) }}
            {{ form_row(form.torrent.title_original, { 'label': 'Оригинальное название:' }) }}
            {{ form_row(form.torrent.torrent_file, { 'label': 'Торрент-файл:' }) }}
            {{ form_row(form.torrent.poster_file, { 'label': 'Постер:' }) }}
            {{ form_row(form.torrent.year, { 'label': 'Год:' }) }}

            {% if entity.torrent.type.slug == 'games' %}
                {% include "RootyTorrentBundle:Torrent:game_form.html.twig" %}
            {% elseif entity.torrent.type.slug == 'movies' %}
                {% include "RootyTorrentBundle:Torrent:movie_form.html.twig" %}
            {% endif %}

            {{ form_row(form.torrent.screenshots, { 'label': 'Скриншоты:' }) }}

            {{ form_widget(form.type) }}
            {{ form_widget(form._token) }}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Загрузить</button>
                <button type="reset" class="btn">Сброс</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}