{% extends '::base.html.twig' %}

{% block content %}
<div class="block">
    <div class="block__head">
        {{ entity.torrent.title }} ({{ entity.torrent.titleOriginal }})
    </div>

    <div class="block__content clearfix">
        <div class="torrent__poster">
            <img src="{{ entity.torrent.posterWebPath | apply_filter('poster')}}" />
        </div>

        <div class="torrent__description">
            <span class="torrent__description__key">Название:</span>
            <span class="torrent__description__value">{{ entity.torrent.title }}</span>
        </div>

        <div class="torrent__description">
            <span class="torrent__description__key">Оригинальное название:</span>
            <span class="torrent__description__value">{{ entity.torrent.titleOriginal }}</span>
        </div>

        <div class="torrent__description">
            <span class="torrent__description__key">Жанр:</span>
            <span class="torrent__description__value">{{ entity.genre }}</span>
        </div>

        <div class="torrent__description">
            <span class="torrent__description__key">Разработчик:</span>
            <span class="torrent__description__value">{{ entity.developer }}</span>
        </div>

        <div class="torrent__description">
            <span class="torrent__description__key">Издатель:</span>
            <span class="torrent__description__value">{{ entity.publisher }}</span>
        </div>

        <div class="torrent__description">
            <span class="torrent__description__key">Описание:</span>
            <span class="torrent__description__value">{{ entity.torrent.description }}</span>
        </div>

        <div class="torrent__description">
            <span class="torrent__description__key">Системные требования:</span>
            <span class="torrent__description__value">{{ entity.systemRequirements }}</span>
        </div>

        <div class="torrent__description">
            <span class="torrent__description__key">Ссылка на крэк:</span>
            <span class="torrent__description__value">{{ entity.crackUrl }}</span>
        </div>

        <div class="torrent__description">
            <span class="torrent__description__key">Запуск:</span>
            <span class="torrent__description__value">{{ entity.howToRun }}</span>
        </div>

        <!-- Screenshots -->
        <div class="torrent__screenshots clearfix">
            <ul id="torrent__screenshots__carousel" class="jcarousel-skin-tango">
                {% for screenshot in entity.torrent.screenshots %}
                    <li>
                        <a class="group1" href="{{ asset(screenshot.screenshotWebPath) }}" title="{{ screenshot.title }}">
                            <img src="{{ screenshot.screenshotWebPath | apply_filter('screenshot') }}" />
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="torrent__download">
            <a href="{{ path('torrent_download', {'id': entity.torrent.id}) }}">Скачать</a>
        </div>
    </div>
</div>
{% endblock %}