{% extends '::base.html.twig' %}

{% macro torrent__description__row(label, value) %}
    <div class="torrent__description__row">
        <span class="torrent__description__row__key">{{ label }}</span>
        <span class="torrent__description__row__value">{{ value }}</span>
    </div>
{% endmacro %}

{% macro torrent__tech_info__row(label, value) %}
    <div class="torrent__tech_info__row">
        <span class="torrent__tech_info__row__key">{{ label }}</span>
        <span class="torrent__tech_info__row__value">{{ value | raw }}</span>
    </div>
{% endmacro %}

{% block content %}
<div class="block">
    <div class="block__head">
        {{ entity.torrent.title }} ({{ entity.torrent.titleOriginal }})
        <a href="{{ path('torrent_edit', {'id': entity.torrent.id}) }}" title="Редактировать"><i class="icon-pencil"></i></a>
        <a href="{{ path('torrent_edit', {'id': entity.torrent.id}) }}" title="Удалить"><i class="icon-trash"></i></a>
        <a href="#torrent_admin" class="colorbox inline" title="Администрирование"><i class="icon-eye-open"></i></a>
    </div>

    <div class="block__content">
        {% if entity.torrent.checkStatus == 'unchecked' %}
            <div class="torrent__check_status unchecked">
                Ваша раздача ещё не успела пройти проверку. Это значит, что пока что её не видят другие пользователи. Как только её проверят вы получите уведомление личным сообщением.
            </div>
        {% elseif entity.torrent.checkStatus == 'rejected' %}
            <div class="torrent__check_status rejected">
                Ваша раздача не прошла проверку и была возвращена на доработку. Устраните, пожалуйста, все нарушения и <a href="{{ path('torrent_request_check', {'id': entity.torrent.id}) }}">подайте заявку на проверку ещё раз</a>.
            </div>
        {% endif %}

        <div class="torrent__description clearfix">
            <div class="torrent__poster">
                <img src="{{ entity.torrent.posterWebPath | apply_filter('poster')}}" />
            </div>

            <div class="torrent__rating clearfix">
                {% if votes.likes+votes.dislikes != 0 %}
                    {% set likeWidth = votes.likes/(votes.likes+votes.dislikes)*100 %}
                    {% set dislikeWidth = votes.dislikes/(votes.likes+votes.dislikes)*100 %}
                    <div class="torrent__rating__bar">
                        {% spaceless %}
                            <div class="like" style="width: {{ likeWidth }}%"></div>
                            {#<div class="dislike" style="width: {{ dislikeWidth }}%"></div>#}
                        {% endspaceless %}
                    </div>
                {% else %}
                    <div class="torrent__rating__bar">
                        {% spaceless %}
                            <div class="like" style="width: 50%"></div>
                            {#<div class="dislike" style="width: 0%"></div>#}
                        {% endspaceless %}
                    </div>
                {% endif %}
                
                {% if user_vote == 'like' %}
                    {% if votes.likes == 1 %}
                        {% set likeContent = 'только вы' %}
                    {% else %}
                        {% set likeContent = (votes.likes-1) | numeral('человек', 'человека', 'человек') ~ ' и вы' %}
                    {% endif %}
                    
                    {% set dislikeContent = votes.dislikes | numeral('человек', 'человека', 'человек') %}
                {% elseif user_vote == 'dislike' %}
                    {% if votes.dislikes == 1 %}
                        {% set dislikeContent = 'только вы' %}
                    {% else %}
                        {% set dislikeContent = (votes.dislikes-1) | numeral('человек', 'человека', 'человек') ~ ' и вы' %}
                    {% endif %}
                    
                    {% set likeContent = votes.likes | numeral('человек', 'человека', 'человек') %}
                {% else %}
                    {% set likeContent = votes.likes | numeral('человек', 'человека', 'человек') %}
                    {% set dislikeContent = votes.dislikes | numeral('человек', 'человека', 'человек') %}
                {% endif %}

                {% spaceless %}
                    <div class="torrent__rating__like_count">
                        <a id="torrent__rating__like" class="btn btn-success torrent__rate" href="{{ path('torrent_rate', {'id': entity.torrent.id, 'type': 'like'}) }}">
                            <img src="/tracker/bundles/rootydefault/images/thumb_up.png" /><span class="votes">{{ likeContent }}</span>
                        </a>
                    </div>
                    <div class="torrent__rating__dislike_count">
                        <a id="torrent__rating__dislike" class="btn btn-danger torrent__rate" href="{{ path('torrent_rate', {'id': entity.torrent.id, 'type': 'dislike'}) }}">
                            <img src="/tracker/bundles/rootydefault/images/thumb_down.png" /><span class="votes">{{ dislikeContent }}</span>
                        </a>
                    </div>
                {% endspaceless %}
            </div>
                 
            
            {#
            {{ _self.torrent__description__row('Название', entity.torrent.title) }}
            {{ _self.torrent__description__row('Оригинальное название', entity.torrent.titleOriginal) }}
            #}

            {% if entity.torrent.type.slug == 'games' %}
                {% include "RootyTorrentBundle:Torrent:show/game_show.html.twig" %}
            {% elseif entity.torrent.type.slug == 'movies' %}
                {% include "RootyTorrentBundle:Torrent:show/movie_show.html.twig" %}
            {% endif %}
        </div>

        <div class="torrent__extra">
            <div class="torrent__screenshots clearfix">
                <ul id="torrent__screenshots__carousel" class="jcarousel-skin-tango">
                    {% for screenshot in entity.torrent.screenshots %}
                        <li>
                            <a class="group1" href="{{ asset(screenshot.screenshotWebPath) }}" title="{{ screenshot.title }}">
                                <img src="{{ screenshot.screenshotWebPath | apply_filter('screenshot') }}" />
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="torrent__tech_info">
                {{ _self.torrent__tech_info__row('Тип:', entity.torrent.type.title) }}
                {{ _self.torrent__tech_info__row('Размер:', entity.torrent.size | filesize) }}
                {{ _self.torrent__tech_info__row('Автор:', entity.torrent.addedBy.username | userlink(path('torrent_show', {'id': entity.torrent.addedBy.id}), entity.torrent.addedBy.roles) | raw) }}
                {{ _self.torrent__tech_info__row('Добавлен:', entity.torrent.dateAdded | date('j F Y в H:i')) }}
                {{ _self.torrent__tech_info__row('Просмотров:', entity.torrent.views) }}
                {{ _self.torrent__tech_info__row('Скачиваний:', entity.torrent.downloads) }}
                {{ _self.torrent__tech_info__row('Список пиров:', 'развернуть') }}
            </div>
        </div>

        <div class="torrent__download">
            {% if entity.torrent.checkStatus == 'approved' %}
                <a class="btn btn-large btn-primary" href="{{ path('torrent_download', {'id': entity.torrent.id}) }}">Скачать</a>
            {% elseif entity.torrent.checkStatus in ['unchecked', 'rejected'] %}
                Извините, но эту раздачу нельзя скачать, пока она не пройдёт проверку.
            {% endif %}
        </div>

        <div class="torrent__comments">
            <div class="torrent__comments__list">
                {% render "RootyCommentBundle:Comment:index" with {'torrent_id': entity.torrent.id} %}
            </div>

            <div class="torrent__comments__form">
                {% render "RootyCommentBundle:Comment:new" with {'torrent_id': entity.torrent.id} %}
            </div>
        </div>
    </div>
</div>

<div style="display:none">
    <div class="block torrent_admin" id="torrent_admin">
        <div class="block__head">Администрирование</div>

        <div class="block__content">
            {% include "RootyTorrentBundle:Torrent:show/quick_admin.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}