{% extends '::base.html.twig' %}

{% macro torrent__description__row(label, value) %}
    <div class="torrent__description__row">
        <span class="torrent__description__row__key">{{ label }}</span>
        <span class="torrent__description__row__value">{{ value }}</span>
    </div>
{% endmacro %}

{% macro torrent__tech_info__row(label, value) %}
    <div class="torrent__tech_info__row">
        <span class="torrent__tech_info__row__key">{{ label }}</span>
        <span class="torrent__tech_info__row__value">{{ value | raw }}</span>
    </div>
{% endmacro %}

{% block content %}
<div class="block">
    <div class="block__head">
        {{ entity.torrent.title }} ({{ entity.torrent.titleOriginal }})
        <a href="{{ path('torrent_edit', {'id': entity.torrent.id}) }}" title="Редактировать"><i class="icon-pencil"></i></a>
        <a href="{{ path('torrent_edit', {'id': entity.torrent.id}) }}" title="Удалить"><i class="icon-trash"></i></a>
        <a href="#torrent_admin" class="colorbox inline" title="Администрирование"><i class="icon-eye-open"></i></a>
    </div>

    <div class="block__content">
        <div class="torrent__description clearfix">
            <div class="torrent__poster">
                <img src="{{ entity.torrent.posterWebPath | apply_filter('poster')}}" />
            </div>

        {#
            {{ _self.torrent__description__row('Название', entity.torrent.title) }}
            {{ _self.torrent__description__row('Оригинальное название', entity.torrent.titleOriginal) }}
        #}

            {% if entity.torrent.type.slug == 'games' %}
                {% include "RootyTorrentBundle:Torrent:show/game_show.html.twig" %}
            {% elseif entity.torrent.type.slug == 'movies' %}
                {% include "RootyTorrentBundle:Torrent:show/movie_show.html.twig" %}
            {% endif %}
        </div>

        <div class="torrent__extra">
            <div class="torrent__screenshots clearfix">
                <ul id="torrent__screenshots__carousel" class="jcarousel-skin-tango">
                    {% for screenshot in entity.torrent.screenshots %}
                        <li>
                            <a class="group1" href="{{ asset(screenshot.screenshotWebPath) }}" title="{{ screenshot.title }}">
                                <img src="{{ screenshot.screenshotWebPath | apply_filter('screenshot') }}" />
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="torrent__tech_info">
                {{ _self.torrent__tech_info__row('Тип:', entity.torrent.type.title) }}
                {{ _self.torrent__tech_info__row('Размер:', entity.torrent.size | filesize) }}
                {{ _self.torrent__tech_info__row('Автор:', entity.torrent.addedBy.username | userlink(path('torrent_show', {'id': entity.torrent.addedBy.id}), entity.torrent.addedBy.roles) | raw) }}
                {{ _self.torrent__tech_info__row('Добавлен:', entity.torrent.dateAdded | date('j F Y в H:i')) }}
                {{ _self.torrent__tech_info__row('Просмотров:', entity.torrent.views) }}
                {{ _self.torrent__tech_info__row('Скачиваний:', entity.torrent.downloads) }}
                {{ _self.torrent__tech_info__row('Список пиров:', 'развернуть') }}
            </div>
        </div>

        <div class="torrent__download">
            <a href="{{ path('torrent_download', {'id': entity.torrent.id}) }}">Скачать</a>
        </div>
        <a class="user" href="#">User</a>
        <a class="super_user" href="#">Super User</a>
        <a class="uploader" href="#">Uploader</a>
        <a class="super_uploader" href="#">Super Uploader</a>
        <a class="gold" href="#">Gold</a>
        <a class="moderator" href="#">Moderator</a>
        <a class="super_moderator" href="#">Super Moderator</a>
        <a class="administrator" href="#">Administrator</a>
    </div>
</div>

<div style="display:none">
    <div class="block torrent_admin" id="torrent_admin">
        <div class="block__head">Администрирование</div>

        <div class="block__content">
            {% include "RootyTorrentBundle:Torrent:show/quick_admin.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}