{% extends '::base.html.twig' %}

{% macro torrent__description__row(label, value) %}
    <div class="torrent__description__row">
        <span class="torrent__description__row__key">{{ label }}</span>
        <span class="torrent__description__row__value">{{ value }}</span>
    </div>
{% endmacro %}

{% block content %}
<div class="block">
    <div class="block__head">
        {{ entity.torrent.title }} ({{ entity.torrent.titleOriginal }})
        <a href="{{ path('torrent_edit', {'id': entity.torrent.id}) }}" title="Редактировать"><i class="icon-pencil"></i></a>
        <a href="{{ path('torrent_edit', {'id': entity.torrent.id}) }}" title="Удалить"><i class="icon-trash"></i></a>
    </div>

    <div class="block__content">
        <div class="torrent__description clearfix">
            <div class="torrent__poster">
                <img src="{{ entity.torrent.posterWebPath | apply_filter('poster')}}" />
            </div>

            {{ _self.torrent__description__row('Название', entity.torrent.title) }}
            {{ _self.torrent__description__row('Оригинальное название', entity.torrent.titleOriginal) }}

            {% if entity.torrent.type.slug == 'games' %}
                {% include "RootyTorrentBundle:Torrent:show/game_show.html.twig" %}
            {% elseif entity.torrent.type.slug == 'movies' %}
                {% include "RootyTorrentBundle:Torrent:show/movie_show.html.twig" %}
            {% endif %}
        </div>

        <!-- Screenshots -->
        <div class="torrent__screenshots clearfix">
            <ul id="torrent__screenshots__carousel" class="jcarousel-skin-tango">
                {% for screenshot in entity.torrent.screenshots %}
                    <li>
                        <a class="group1" href="{{ asset(screenshot.screenshotWebPath) }}" title="{{ screenshot.title }}">
                            <img src="{{ screenshot.screenshotWebPath | apply_filter('screenshot') }}" />
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="torrent__download">
            <a href="{{ path('torrent_download', {'id': entity.torrent.id}) }}">Скачать</a>
        </div>
    </div>
</div>
{% endblock %}