{% from 'RootyTorrentBundle:Torrent:show.html.twig' import torrent__description__row as user__description__row %}

<div class="user__sidebar">
    <div class="user__sidebar__avatar">
        <img src="{{ user.avatarWebPath | apply_filter('avatar_profile')}}" />
    </div>
    {% if app.user != user %}
        <a class="btn" href="{{ path('message_new', {'recepient_id': user.id}) }}">Отправить сообщение</a>
    {% endif %}
</div>

{{ user__description__row('Имя:', user.name | default('Не указано')) }}
{{ user__description__row('Фамилия:', user.surname | default('Не указана')) }}
{% if user.birthday == NULL %}{% set birthday = 'Не указан'%}{% else %}{% set birthday = user.birthday|date('j F') ~ ' (' ~ user.birthday|timeElapsed('now')|date('%y') ~ ' лет)' %}{% endif %}
{{ user__description__row('День рождения:', birthday) }}
{{ user__description__row('Зарегистрирован:', user.dateAdded | date('j F Y в H:i')) }}
{{ user__description__row('Последняя активность:', user.lastActivity | date('j F Y в H:i')) }}
