{% from 'RootyTorrentBundle:Torrent:show.html.twig' import torrent__description__row as user__description__row %}

<p>
{{ user__description__row('Раздал:', user.downloaded|filesize()) }}
{{ user__description__row('Скачал:', user.uploaded|filesize()) }}
{% if user.downloaded == 0 %}
    {% set ratio = 'N/A' %}
{% else %}
    {% set ratio = user.uploaded/user.downloaded %}
{% endif %}
{{ user__description__row('Рейтинг:', ratio) }}
{{ user__description__row('Комментариев:', comment_count) }}
</p>
<hr>

<h3>Загрузил</h3>
<p>
{% if torrents_uploaded|length %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>Тип</th>
            <th>Название</th>
            <th>Дата загрузки</th>
        </tr>

        {% for torrent in torrents_uploaded %}
            <tr>
                <td>{{ torrent.type.title }}</td>
                <td>{{ torrent.title }}</td>
                <td>{{ torrent.dateAdded|date('j F Y') }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    Этот пользователь пока не загрузил ни одной раздачи.
{% endif %}
</p>

<h3>Скачал</h3>
{% if torrents_downloaded|length %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>Тип</th>
            <th>Название</th>
        </tr>

        {% for torrent in torrents_downloaded %}
            <tr>
                <td>{{ torrent.type }}</td>
                <td>{{ torrent.title }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    Этот пользователь пока не скачал ни одной раздачи.
{% endif %}