{% extends '::base.html.twig' %}

{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block content %}
<div class="block">
    <div class="block__head">
        {% if app.user == message.recepient %}
            Сообщение от пользователя {{ message.sender | userlink }}
        {% elseif app.user == message.sender %}
            Сообщение для пользователя {{ message.recepient | userlink }}
        {% else %}
            Сообщение от пользователя {{ message.sender | userlink}} для пользователя {{ message.recepient | userlink }}
        {% endif %}
    </div>

    <div class="block__content">
        <div class="post message show clearfix">
            <div class="post__user">
                <img src="{{ message.sender.avatarWebPath | apply_filter('avatar_message')}}" />
                {{ message.sender | userlink }}
            </div>

            <div class="post__text">
                {{ message.text }}
                <div class="post__text__date-added">
                    {{ message.dateAdded|dateRelative('j F Y в H:i') }}
                        
                    <span class="actions">
                        <a href="{{ path('message_delete', {'id': message.id}) }}" title="Удалить" class="confirm"><img src="/tracker/bundles/rootydefault/images/comment_delete.png" /></a>
                    </span>
                </div>
            </div>
        </div>

        {% if app.user == message.recepient %}
            <h3>Быстрый ответ</h3>
            <form action="{{ path('message_create', {'recepient_id': message.sender.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal message-new">
        {% else %}
            <h3>Ещё одно</h3>
            <form action="{{ path('message_create', {'recepient_id': message.recepient.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal message-new">
        {% endif %}
        
            {{ form_rest(form) }}

            <div class="form-actions">
                {% if app.user == message.recepient %}
                    <button type="submit" class="btn btn-primary">Ответить</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Отправить</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
