{% extends '::base.html.twig' %}

{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block content %}
<div class="block">
    <div class="block__head">
        {% if app.user == message.recepient %}
            Сообщение от пользователя {{ message.sender.username }}
        {% else %}
            Сообщение для пользователя {{ message.recepient.username }}
        {% endif %}
    </div>

    <div class="block__content">
        <div class="post message show clearfix">
            <div class="post__user">
                <img src="{{ message.sender.avatarWebPath | apply_filter('avatar_message')}}" />
                {{ message.sender.username }}
            </div>

            <div class="post__text">
                {{ message.text }}
                <div class="post__text__date-added">
                    {{ message.dateAdded|dateRelative('j F Y в H:i') }}
                </div>
            </div>
        </div>

        {% if app.user == message.recepient %}
            <h3>Быстрый ответ</h3>
        {% else %}
            <h3>Ещё одно</h3>
        {% endif %}
        <form action="{{ path('message_create', {'recepient_id': message.sender.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal message-new">
            {{ form_rest(form) }}

            <div class="form-actions">
                {% if app.user == message.recepient %}
                    <button type="submit" class="btn btn-primary">Ответить</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Отправить</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
