<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets output='css/*.css' filter='cssrewrite'
                'bundles/rootydefault/css/reset.css'
                'bundles/rootydefault/css/colorbox.css'
                'bundles/rootydefault/css/skin.css'
                'bundles/rootydefault/css/bootstrap.min.css'
                'bundles/rootydefault/css/jquery.ui.all.css'
                'bundles/rootydefault/css/jquery.noty.css'
                'bundles/rootydefault/css/style.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        {% if app.user %}
                            {{ knp_menu_render('RootyDefaultBundle:Builder:mainMenuUser') }}
                        {% else %}
                            {{ knp_menu_render('RootyDefaultBundle:Builder:mainMenuAnonymous') }}
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if app.session.hasFlash('notice') %}
                <div class="flash-notice">
                    <div class="container">
                        {{ app.session.flash('notice') }}
                    </div>
                </div>
            {% endif %}
        </div>
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
        </div>
        {% block javascripts %}
            {% javascripts
               'bundles/rootydefault/js/jquery-1.7.1.min.js'
               'bundles/rootydefault/js/jquery.colorbox-min.js'
               'bundles/rootydefault/js/jquery.jcarousel.min.js'
               'bundles/rootydefault/js/jquery.livequery.js'
               'bundles/rootydefault/js/bootstrap.js'
               'bundles/rootydefault/js/jquery-ui-1.8.17.custom.js'
               'bundles/rootydefault/js/selectToUISlider.jQuery.js'
               'bundles/rootydefault/js/jquery.noty.js'
               'bundles/rootydefault/js/frontend.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
