{% form_theme form 'RootyDefaultBundle:Form:fields_bootstrap.html.twig' %}

<div class="block">
    <div class="block__head">
        Восстановление пароля
    </div>

    <div class="block__content">
        {% if errors|length > 0 %}
        <div class="block__content__errors">{{ form_errors(form) }}</div>
        {% endif %}
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_resetting_reset">
            {{ form_row(form.new.first, { 'label': 'Новый пароль:' }) }}
            {{ form_row(form.new.second, { 'label': 'Повторите пароль:' }) }}
            {{ form_rest(form) }}
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>
        </form>
    </div>
</div>